.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(8, 4, 51);
  height: 100vh;

  
  
}
.App.light{
  background-color: white;
}

.container{
  width: 75%;
  height: auto;

}

.outerDiv{
  position: relative;
  width: 25px;
  height: 10px;
  border-radius: 10px;
  z-index: 1;
  background-color: rgb(148,233,148);
  cursor: pointer;
  padding: 2px;  
}
.outerDiv.light{
  background:darkgray;
  left: 0px;
}
.theme{
  color: gray;
}
.theme.light{
  color: darkgray;
}

.circle{
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(8, 4, 51);
  transition: left 0.5s ease-out, right 0.5s ease-out;
}

.circle.light{
  background-color: white;

}
.light {
  left: 17px;
}

.dark {
  left: 0px;
}

.Title{
  display: flex;
  justify-content: space-between;
}

.toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* background-color: yellow; */
}

.block{
  background-color: white;
  width: 25%;
  height: 250px;
}
.block :hover{
  /* background-color: rgb(36, 12, 56); */
  opacity: 0.9;
  cursor: pointer;
}


.innerBlock{
  background-color: rgb(36, 12, 56);
  margin-top: 2.0%;
  height: 99%;
}

.innerBlock.light{
  background-color: lightgray;
}
.innerBlock.light:hover{
  background-color: darkgray;

}


.firstRow{
  display: flex;
  justify-content: center;
  gap: 15px;
  /* background-color: antiquewhite; */
  width: 100%;
}

.pageViews p{
  color: darkgray;
  font-weight: 600;

}

.pageViews.light p{
  color: rgb(112, 112, 112);
  font-weight: 600;
}


.tag{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: gray;
  
}
.tag.light{
  color: black;
}
.tag img{
  width: 25px;
  height: 25px;
}

.secondTitle{
  text-align: left;
  color: darkgray;
  font-weight: 600;
}
.secondTitle.light{
  color: white;
}
.secondRow{
  display: flex;
  justify-content: center;
  gap : 15px;
  flex-wrap: wrap;
}
.oblock{
  background-color: white;
  width: 24%;
  height: 50%;
  padding: 0;
  margin: 0;

}
.oblock.light :hover{
  background-color: darkgray;

}

.sblock{
  height: 100%;
  width: 100%;
  background-color: rgb(36, 12, 56);
  padding: 0px;
}

.sblock:hover{
  background-color: rgb(36, 12, 56);
  opacity: 0.96;
  cursor: pointer;
}


.sblock.light{
  background-color: lightgray;
}


.pageViews, .stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0 8%;

}

.pageViews > img{
  width: 25px;
  height: 25px;
}

.stats{
  color: white;
  font-weight: 800;
  font-size: 22px;
}
.stats.light{
  color: black;
}
.percentage{
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 5px;
  color: green;
  font-size: 12px;
}
.red{
  color: red;
}
.percentage img{
  width: 7px;
  height: 7px;

}

h1{
  color: white;
  font-weight: 700;
  font-size: 40px;
}

h1.light{
  color: black;
} 

h5{
  color: gray;
}



@media screen and (max-width: 580px) {
  .App{
    width: 100%;
  }
  .container{
    width: 90%;
  }
  .secondRow, .firstRow{
    display: flex;
    flex-direction: column;
  }
  .block{
    width: 90%;
  }
  .oblock{
    width: 100%;
  }
  .sblock{
    width: 90%;
  }
  /* .stats.light{
    color: black;
  } */
}